@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
    font-family: "myfont";
    src: url(image/Retrofunkscriptpersonaluse-v6XO.otf);

    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: poppins, Arial, Helvetica, sans-serif;
   
}

#coloumn1 {
    width: 40%;
    height:100vh;
    padding: 0;
    background-image: url(image/monitor.jpg);
    background-size: calc(100%) calc(100%);
}
#coloumn2 {
    width: 60%;
    background: rgb(1, 35, 45);
    background: linear-gradient(90deg, rgba(1, 35, 45, 1) 0%, rgba(21, 66, 185, 1) 44%, rgba(15, 21, 81, 1) 100%);
    height:100vh;
    text-align: left;
    
}

.signup {
    width: 100%;
    height: 55vh;
    border-radius: 25px;
    
}
#logoimg img {
    width: 100px;
}
#logoName {
    font-family: myfont;
    font-size: 40px;
    padding: 10px;
}

#logoimg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    margin-top: 20%;
}
#description {
    margin: 10% 0 0 10%;
}
#description p {
    word-spacing: 6px;
    font-size: larger;
    
}

#signupFrom input{
    width:40%;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    color: black;
    
}
#submitBtn{
    height: 40px;
    background-color:rgb(87, 87, 237);
    border: none;
    border-radius: 6px;

}
#signupFrom{
    text-align: center;
}
#submitBtn:hover{
   background-color: green;
}
.signup:hover {
    background-color: #1438a13d;
}
label{
    color: rgb(255, 234, 2);
    text-align: left;
    font-size: smaller;
}